<div class="container-fluid main-header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                <div class="col-md-6 col-12 main-header-right align-items-center">
                    <img class="image w-50 img-fluid" src="image/pic.jpg">
                </div>
                <div class="col-md-6 col-12 main-header-left">
                    <p>Welcome to @nik World</p>
                    <h1>I Am A <span>Full Stack Developer </span> And A <span>Competitive Coder.</span></h1>
                    <a href="https://drive.google.com/file/d/11xwAn61pYqrCL9cQODz7qAFaeDZYb-z3/view?usp=sharing"><button>About me</button></a>
                </div>
            </div>
        </div>
    </div>
</div>
