<div class="container-fluid main-header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                <div class="col-12 main-header-left align-items-center">
                    <img class="image w-50 img-fluid" src="image/errorPage.jpg">
                    <h1 class="mt-4 mb-4">Oops! Page Not Found</h1>
                    <a href="/"><button>Go Back</button></a>
                </div>
            </div>
        </div>
    </div>
</div>
