<div class="container-fluid main-header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="main-content">
                <form class="form">
                    <input type="text" id="cityName" placeholder="Enter Your City Name">
                    <input type="submit" value="Search" id="submitBtn">
                </form>
            </div>
            <div class="tempInfo">
                <div class="top-layer">
                    <p id="day"></p>
                    <p id="date"></p>
                </div>
                <div class="main-layer">
                    <p id="city"></p>
                    <div class="middle-layer data-hide" >
                        <p id="temp"><span id="tempVal">0</span> <sup>o</sup>C</p>
                        <p id="tempStatus"><i class="fa fa-cloud"></i></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
